
/**
    General
    */

.error {
    font-style: italic;
    color: #f00;
    font-size: 11px;
}

/**
    Container
    */

section.formcont {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 30px;
}

.formcont h2 {
    font-size: 26px;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    margin-bottom: 50px;
    margin-left: 70px;
}

.formcont h2.hasSub {
    margin-bottom: 10px;
}

.formcont h3 {
    font-size: 18px;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    margin-bottom: 50px;
    margin-left: 100px;
}

.formcont article.form {
    width: 500px;
    margin: 0 auto;
}

.formcont .form.small {
    width: 300px;
}

.form section.inputBlock  {
    clear: both;
    margin-bottom: 20px;
}

.form .inputBlock label {
    float: left;
    line-height: 26px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.form .inputBlock section.formInput {
    margin-left: 150px;
}

.form .inputBlock.buttons {
    padding-left: 150px;
}

.inputBlock.buttons p {
    font-size: 11px;
}



/**
    Input
    */

textarea {
    width: 350px;
    height: 150px;
}




/**
    buttons
    */

p.cancelBtn a, p.submitBtn a {
    display: block;
    width: 98px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #333;
    text-align: center;
    color: #eee;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #42889B;
    margin-top: 10px;
}

p.cancelBtn a:hover, p.submitBtn a:hover {
    background-color: #9FAFB3;
    color: #fff;
    text-decoration: none;
}

p.cancelBtn {
    float: left;
}

p.submitBtn a {
    background-color: #439F5F;
    float: right;
}

p.submitBtn a:hover {
    background-color: #A2B7A8;
}




/**
    Success
    */

p.success {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 10px;
}

p.successLink {
    text-align: center;
    margin-bottom: 100px;
}




    /**
        Edit
        */

div.editBtn {
    position: absolute;
    top: 7px;
    right: 7px;
}

div.editBtn a {
    height: 24px;
    width: 24px;
    display: block;
    background: transparent url(../img/edit.png) no-repeat center center;
}

section.editBtns {
    width: 300px;
}

.tag .remTag {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url(../img/close.png) no-repeat center center;
    margin: 0 auto;
}