<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="STUDENT_brecht_bonte_kahosl_beConnectionString" connectionString="Data Source=pub.ikdoeict.be,14330;Initial Catalog=STUDENT_brecht.bonte@kahosl.be;Persist Security Info=True;User ID=STUDENT_SQLLow_brecht.bonte@kahosl.be;Password=Kg6234FaN" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
</configuration>